<div class = "container__big-card">
  <div class="big-card__photo">
    <img
      src="https://imageio.forbes.com/specials-images/imageserve/63600220295903240c876e05/cloudfront-us-east-1-images-arcpublishing/960x0.png?format=png&width=1440"
      alt=""
      height="300px"
      srcset=""
    >
    </div>
    <div class="big-card__title">
      <h1><a href="#">Saiu a nova versão do Angular</a></h1>
    </div>
    <div class="big-card__description">
      <p>
        <a href="#">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas dictum, lorem at accumsan laoreet, dolor nisi fringilla metus, ultricies finibus justo libero vel enim.
        </a>
      </p>

    </div>

</div>
