

<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">
    <app-big-card
      Id="1"
      photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT_T0Zb5ZfW9FtoGa51051VdRJJ2ccDcBsTOw&usqp=CAU"
      cardTitle="NOVO HOMEM DE FERRO EM 3D"
      cardDescription="Marvel anuncia novo Homem de Ferro."
      >
    </app-big-card>



  </div>
  <div class="articles__others">
    <app-small-card
    Id="2"
      cardTitle="Nova serie anunciada no Dysney +"
      photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTAGIjdXOM4G-2dFdJ_gTbydbAjiBE-S57y5w&usqp=CAU"
    >

    </app-small-card>

    <app-small-card
    Id="3"
      cardTitle="Em breve nos cinemas: Pantera Negra"
      photoCover="https://akamai.sscdn.co/uploadfile/letras/playlists/2/a/1/7/2a1727e6b3da62fa3e5c4a6f13b63c5b.jpg"
    >

    </app-small-card>

    <app-small-card
    Id="4"
      cardTitle="Novo filme dos X-Men esta em produção, afirma diretor "
      photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcNbTwpWmobp2Ugf2XKevoCRq0nfDNV-DAmsLXd3xaZpfh8FUylxGygQkOjDbbr3Uk3Jk&usqp=CAU"
    >

    </app-small-card>



  </div>
</div>
